<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header th:insert="~{components/header :: header}"></header>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0 ">
    <div class="row bg-white shadow-sm">
        <div class="col border rounded p-4">
            <h3 class="text-center mb-4">Login</h3>
            <div th:if="${param.error}">Invalid username or password</div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <form action="login" method="post">
                <div class="form-group">
                    <label>
                        Login
                    </label>
                    <input type="text" class="form-control" name="username"
                           placeholder="login">
                </div>
                <div class="form-group">
                    <label>
                        Password
                    </label>
                    <input type="password" class="form-control" name="password"
                           placeholder="password">
                </div>
                <div>
                    <!--                    <c:if test="${not empty error_message}">-->
                    <!--                        <div class="badge bg-danger text-wrap" style="width: 12rem;">-->
                    <!--                            ${error_message}-->
                    <!--                        </div>-->
                    <!--                    </c:if>-->
                </div>
                <label></label>
<!--                <button type="submit" value="Sign In" class="btn btn-primary w-100">-->
<!--                    Sign In-->
<!--                </button>-->
                <input type="submit"/>
            </form>
        </div>
    </div>
</div>
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.-->
<!--</div>-->
<!--<form th:action="@{/login}" method="post">-->
<!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<a href="/auth/register">Register</a>
<footer th:insert="~{components/footer :: footer}"></footer>
</body>
</html>