<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body class="bg-secondary">
<header th:insert="~{components/header :: header}"></header>
<h2 class="container text-light">Панель администратора</h2>
<table class="table table-dark table-striped container">
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Активность</th>
        <th scope="col">Роли</th>
        <th scope="col">Редактировать</th>
        <th scope="col">Подробная информация</th>
        <th scope="col">Бан</th>
    </tr>
    <div th:each="u : ${users}">
        <tr>
            <th th:text="${u.username}"></th>
            <th th:text="${u.active}"></th>
            <th th:text="${u.roles}">Роли</th>
            <th><a th:href="'/admin/user/edit/' + ${u.id}" class="text-light">Редактировать</a></th>
            <th><a th:href="'/user/' + ${u.id}" class="text-light">Подробная информация</a></th>
            <th>
                <form th:if="${u.active}" th:action="'/admin/user/ban/' + ${u.id}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Ban" class="btn btn-primary btn-danger"></input>
                </form>
                <form th:unless="${u.active}" th:action="'/admin/user/unban/' + ${u.id}" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="submit" value="Unban" class="btn btn-primary btn-success"></input>
                </form>
            </th>
        </tr>
    </div>
</table>

</body>
</html>