<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../static/images/books-icon-light-theme.png">
    <title>Add book</title>
</head>
<body class="bg-secondary">
<header th:insert="~{components/header :: header}"></header>
<div class="container mt-2 bg-dark">
    <h1 class="text-light">Add book:</h1>
    <div>
        <div class="row row-cols-1 row-cols-md-2 g-1 bg-dark">
            <div class="col-lg-4">
                <img th:src="'https://sun9-49.userapi.com/tfNPDe06B8H4gSHaO1PkXEhTUee8bNkv0_VhHw/2mSp0XPvjAk.jpg'"
                     width="300" height="600"
                     class="card-img-top" alt="...">
            </div>
            <div class=" col-lg-8 container position-relative">
                <form action="/books/add" method="post" enctype="multipart/form-data">
                    <div class="col-md-8"><br>
                        <h5 class="text-light">Name:</h5>
                        <input type="text" name="name" placeholder="Enter name" class="form-control"><br>
                    </div>
                    <div class="input-group-sm col-md-4 col-md-offset-3">
                        <h5 class="text-light">Author:</h5>
                        <input type="text" name="author" placeholder="Enter author" class="form-control"><br>
                    </div>
                    <br>
                    <h5 class="px-2 text-light fw-bold">Description:</h5>
                    <textarea type="text" name="description" placeholder="Enter description"
                              class="form-control"></textarea><br>
                    <h5 class="text-light">Cover:</h5>
                    <!--                    <input type="text" name="cover" th:value="'https://clck.ru/33LDY5'"-->
                    <!--                           placeholder="Enter cover link"-->
                    <!--                           class="form-control"><br>-->

<!--                    <form>-->
                        <select id="file-type-select" class="form-select form-select-sm"
                                aria-label=".form-select-sm example">
                            <option value="file">File</option>
                            <option value="link">Link</option>
                        </select>
                        <div id="file-input">
                            <label>File:</label>
                            <input type="file" name="bookCover" class="form-control">
                        </div>
                        <div id="link-input" style="display:none;">
                            <label>Link:</label>
                            <input type="text" name="imageURL" class="form-control">
                        </div>
<!--                    </form>-->

                    <br>
                    <div>
                        <h5 class="text-light">Book File:</h5>
                        <input type="file" name="book_file" placeholder="Book File"
                               class="form-control">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <br>
                    </div>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <form method="post" th:action="'/books/add'">
                                    <button type="submit" class="btn btn-success">Add book</button>
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{components/footer :: footer}"></footer>
<script>
    var fileInput = document.getElementById("file-input");
    var linkInput = document.getElementById("link-input");
    var fileTypeSelect = document.getElementById("file-type-select");

    fileTypeSelect.addEventListener("change", function () {
        if (this.value === "file") {
            fileInput.style.display = "block";
            linkInput.style.display = "none";
        } else {
            fileInput.style.display = "none";
            linkInput.style.display = "block";
        }
    });
</script>
</body>
</html>