<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body class="bg-secondary">
<header th:insert="components/header :: header"></header>
<div class="container">
    <div class="secondary alert-info mt-2">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            <div th:each="el : ${book}">
                <div class="col ">
                    <div class="card h-100">
                        <a th:href="'/books/' + ${el.book_id}">
                            <img th:src="${el.cover}" width="500" height="300" th:href="'/books/' + ${el.book_id}"
                                 class="card-img-top" alt="...">
                        </a>
                        <div class="card-footer">

                            <a th:href="'/books/' + ${el.book_id}" class="text-decoration-none">
                                <h5 th:text="${el.name}" class="text-center text-dark"></h5>
                            </a>
                            <h6 th:text="${el.author}" class="text-muted"></h6>
                            <a class="btn btn-warning ms-3" th:href="${el.view_link}">Читать</a>
                            <a class="btn btn-dark ms-3" th:href="${el.download_link}">Скачать</a>
                        </div>
                        <a th:href="'/books/' + ${el.book_id} + '/edit'" class="btn btn-warning ms-3">Редактировать</a>
                        <form th:action="'/books/' + ${el.book_id} + '/remove'" method="post">
                            <button class="btn btn-danger" type="submit">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer th:insert="components/footer :: footer"></footer>
</body>
</html>