<!doctype html>
<html th:each="el : ${book}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../static/images/books-icon-light-theme.png">
    <title th:text="${el.name}"></title>
</head>
<body class="bg-secondary">
<header th:insert="~{components/header :: header}"></header>
<div class="container">
    <div class="secondary alert-info mt-2">
        <div>
            <div>
                <div>
                    <div class="row row-cols-1 row-cols-md-2 g-1 bg-dark">
                        <div class="col-lg-4">
                            <img th:src="@{/image/{id}(id=${el.book_id})}" width="300" height="600"
                                 class="card-img-top" alt="...">
                        </div>
                        <div class=" col-lg-8 container position-relative">
                            <h4 th:text="${el.name}" class="text-start px-4 p-1 text-light fw-bold"></h4>
                            <h6 th:text="'Author: ' + ${el.author}" class="text-start px-4 text-light fw-norm"></h6>
                            <div class="p-2 px-1">
                                <div class="p-1">
                                    <a class="btn btn-light ms-3" th:href="'/read/' + ${el.book_id}">Read</a>
                                    <a class="btn btn-light ms-3" th:href="'/download/'+ ${el.book_id}">Download</a>
                                </div>
                                <div class="p-1">
                                </div>
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div th:if="${usersession.isAdmin()}" class="p-1 col-2">
                                            <a th:href="'/books/' + ${el.book_id} + '/edit'"
                                               class="btn btn-warning ms-3">Edit</a>
                                        </div>
                                        <div class="col-2 p-1">
                                            <form th:if="${!usersession.getBooks_list().contains(el)}"
                                                  th:action="'/user/' + ${el.book_id} + '/atu'" method="post">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input type="submit" value="🤍 Favorite"
                                                       class="btn btn-primary btn-light ms-3">
                                            </form>
                                            <form th:unless="${!usersession.getBooks_list().contains(el)}"
                                                  th:action="'/user/' + ${el.book_id} + '/dfu'" method="post">
                                                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                                                <input type="submit" value="❤ Favorites"
                                                       class="btn btn-primary btn-light ms-3">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5 class="px-2 text-light fw-bold">Description:</h5>
                            <p class="text-light px-2" th:text="${el.description}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>