<!doctype html>
<html th:each="ed : ${book}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../static/images/books-icon-light-theme.png">
    <title th:text="${ed.name}"></title>
</head>
<body class="bg-secondary">
<header th:insert="~{components/header :: header}"></header>
<div class="container mt-2">
    <div>
        <div>
            <div class="row row-cols-1 row-cols-md-2 g-1 bg-dark">
                <div class="col-lg-4">
                    <img th:src="@{/image/{id}(id=${ed.book_id})}" width="300" height="600"
                         class="card-img-top" alt="...">
                </div>
                <div class=" col-lg-8 container position-relative">
                    <form method="post">
                        <div class="col-md-8"><br>
                            <h5 class="text-light">Name:</h5>
                            <input type="text" th:value="${ed.name}" name="name" placeholder="Enter name"
                                   class="form-control text-start px-6 top-1 text-dark fw-bold mb-2">
                        </div>
                        <div class="input-group-sm col-md-4 col-md-offset-3">
                            <h5 class="text-light">Author:</h5>
                            <input type="text" th:value="${ed.author}" name="author"
                                   aria-describedby="inputGroup-sizing-sm"
                                   placeholder="Enter author"
                                   class="form-control">
                        </div>
                        <br>
                        <h5 class="px-2 text-light fw-bold">Description:</h5>
                        <textarea th:text="${ed.description}" name="description" style="resize: none;height: 200px"
                                  placeholder="Enter description"
                                  class="form-control"/>
                        <h5 class="text-light">Cover link:</h5>
                        <!--                        <input type="text" th:value="${ed.cover}" name="cover" placeholder="Enter cover link"-->
                        <!--                               class="form-control"><br>-->


                        <!--                        <select id="file-type-select" class="form-select form-select-sm"-->
                        <!--                                aria-label=".form-select-sm example">-->
                        <!--                            <option value="file">File</option>-->
                        <!--                            <option value="link">Link</option>-->
                        <!--                        </select>-->
                        <!--                        <div id="file-input">-->
                        <!--                            <label>File:</label>-->
                        <!--                            <input type="file" name="bookCover" class="form-control">-->
                        <!--                        </div>-->
                        <!--                        <div id="link-input" style="display:none;">-->
                        <!--                            <label>Link:</label>-->
                        <!--                            <input type="text" name="imageURL" class="form-control">-->
                        <!--                        </div>-->


                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <form method="post" th:action="'/books/' + ${ed.book_id} + '/edit'">
                                        <button type="submit" class="btn btn-success btn-lg">Update</button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <form method="post" th:action="'/books/' + ${ed.book_id} + '/remove'">
                                        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{components/footer :: footer}"></footer>
</body>
</html>