<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../static/images/books-icon-light-theme.png">
    <title>Add book</title>
</head>
<body class="bg-secondary">
<header th:insert="~{components/header :: header}"></header>
<div class="container mt-2 bg-dark">
    <h1 class="text-light">Add book:</h1>
    <div>
        <div class="row row-cols-1 row-cols-md-2 g-1 bg-dark">
            <div class="col-lg-4">
                <img th:src="'https://sun9-49.userapi.com/tfNPDe06B8H4gSHaO1PkXEhTUee8bNkv0_VhHw/2mSp0XPvjAk.jpg'" width="300" height="600"
                     class="card-img-top" alt="...">
            </div>
            <div class=" col-lg-8 container position-relative">
                <form action="/books/add" method="post" enctype="multipart/form-data">
                    <div class="col-md-8"><br>
                        <h5 class="text-light">Name:</h5>
                        <input type="text" name="name" placeholder="Enter name" class="form-control"><br>
                    </div>
                    <div class="input-group-sm col-md-4 col-md-offset-3">
                        <h5 class="text-light">Author:</h5>
                        <input type="text" name="author" placeholder="Enter author" class="form-control"><br>
                    </div>
                    <br>
                    <div class="">
                        <h5 class="text-light">Read link:</h5>
                        <input type="text" name="view_link" placeholder="Enter read link"
                               class="form-control"><br>
                    </div>
                    <div>
                        <h5 class="text-light">Download link:</h5>
                        <input type="text" name="download_link" placeholder="Enter download link"
                               class="form-control"><br>
                    </div>
                    <br>
                    <h5 class="px-2 text-light fw-bold">Description:</h5>
                    <textarea type="text" name="description" placeholder="Enter description"
                              class="form-control"></textarea><br>
                    <h5 class="text-light">Cover link:</h5>
                    <input type="text" name="cover" th:value="'https://clck.ru/33LDY5'"
                           placeholder="Enter cover link"
                           class="form-control"><br>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <form method="post" th:action="'/books/add'">
                                    <button type="submit" class="btn btn-success">Add book</button>
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{components/footer :: footer}"></footer>
</body>
</html>